<div class="container-fluid">

  <p id="notice"><%= notice %></p>

  <h3><%= @project.title %></h3>


  <div class="row">


    <% if @project.images.size >= 3 %>
        <div class="col-md-4"><%= image_tag(@project.images[0], class: "img-responsive") %></div>
        <div class="col-md-4"><%= image_tag(@project.images[1], class: "img-responsive") %></div>
        <div class="col-md-4"><%= image_tag(@project.images[2], class: "img-responsive") %></div>
    <% end %>

    <% if @project.images.size == 2 %>
        <div class="col-md-4"><%= image_tag(@project.images[0]) %></div>
        <div class="col-md-4"><%= image_tag(@project.images[1]) %></div>
        <div class="col-md-4"></div>
    <% end %>

    <% if @project.images.size == 1 %>
        <div class="col-md-4"><%= image_tag(@project.images[0]) %></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    <% end %>

  </div>

  <br><br>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <br><br>

  <% if user_signed_in? && (DateTime.now < DateTime.new(2017, 05, 10, 15, 30, 0)) %>
  <div>
    <%= link_to "Vote for this project".html_safe, add_vote_path(:project_id => @project.id), :class => 'btn btn-success' %><br><br><br>
    <p><strong>Note:</strong> If you have already voted, voting again will overwrite your previous vote.</p>
  </div>
  <% end %>
  <br><br>

  <div class="voteTotalShow">
    <p>Votes received for this project: <%= @votes.where(:project_id => @project.id, :vote_value => true).count %></p>
  </div><br>


  <%= link_to 'Back', projects_path, :class => 'btn btn-danger' %>

  <br>

</div>