<!DOCTYPE html>
<html>
  <head>
    <title>Votron3000</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="signedinBanner">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to "Logout".html_safe, destroy_user_session_path, method: :delete, :class => 'btn btn-info' %>
      <% else %>
        <%= link_to "Sign up".html_safe, new_user_registration_path, :class => 'btn btn-info' %>
        <%= link_to "Login".html_safe, new_user_session_path, :class => 'btn btn-info' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
